# Preprocessing

In [1]:
from typing import Union

import pandas as pd
import numpy as np

In [2]:
# create a class that does either onehotencoding or labelencoding
class Encoder:
    def __init__(self, kind: str = 'onehot'):
        
        # make sure kind is either onehot or label
        <...> kind <...> ['onehot', 'label']
        <...>.kind = kind
        
    def encode(self, data: pd.Series) -> Union[pd.DataFrame, pd.Series]:
        
        # do one hot encoder
        if self.<...> == <...>:
            # get all unique categories from the data
            categories = <...>(data)
            
            # create a new dataframe
            new = <...>
            
            # iterate over all columns and give 1 or 0 depending if value
            # is equal to the individual category
            for column in list(<...>):
                new[<...>] = data.<...>(lambda x: 1 if <...> else 0)
            
        # do label encoder
        else:
            categories = <...>
            new = <...>(lambda <...>: categories.index(x))
            new = pd.DataFrame(new)
            
        return new
    
# run this part to check that the code works
test_data = pd.Series(['A', 'B', 'C', 'A', 'B', 'A'])
print(Encoder('onehot').encode(test_data))
print(Encoder('label').encode(test_data))

   A  B  C
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0
4  0  1  0
5  1  0  0
   0
0  0
1  1
2  2
3  0
4  1
5  0

In [3]:
# implement a minmax scaler and standard scaler using a function rather than a class
def scaler(data: pd.Series, kind='minmax') -> pd.Series:
    
    # make sure kind is either minmax or standard
    <...> kind in ['minmax', 'standard']
    
    # start with minmax
    if <...>:
        min_value = <...>
        max_value = <...>
        diff = max_value - min_value
        new = <...>
    
    # then do standard scaler
    else:
        mean = <...>
        std = <...>
        new = <...>
    
    return new

# run this part to check that the code works
test_data = pd.Series([0.07, 0.52, 0.41, 0.25, 0.35, 0.16, 0.43])
print(scaler(test_data, kind='minmax'))
print(scaler(test_data, kind='standard'))

0    0.000000
1    1.000000
2    0.755556
3    0.400000
4    0.622222
5    0.200000
6    0.800000
dtype: float64
0   -1.517152
1    1.294041
2    0.606861
3   -0.392675
4    0.232035
5   -0.954913
6    0.731803
dtype: float64

# Using Real Data - From Kaggle

Find the original data at [https://www.kaggle.com/sambumba/mobile-priceskz-huamboangola](https://www.kaggle.com/sambumba/mobile-priceskz-huamboangola)

> This is a very small project that focus on yearly sales (real data that went through slightly modifications)of a company's two different stores. This stores are located in different areas of the city (Huambo, Angola) where one is in the main shopping center and the other one 13 miles from the city center. In this table you will find the mobiles brand, name, colour, battery in mAh, prices, sales per store and other features.

> Although Angola is one of the most expensive countries to live in, the minimum wage is very low at about 35,000kz which is 54USD roughly

> The objective of this project is to calculate and compare how much each store sold in total, by brand and how much the company made in that year. By managing the data itself, conclusions can be drawn and assumptions can be made. However, test yourself and do Machine Learning to predict the future sales considering factores like minimum country wage, phone upgrades resulting in new phones and lower prices for the existing models, the location of the store, etc.

In [4]:
# practice on real data
data = pd.read_csv('data/303-phone-prices.csv')
data

,Phone_brand,Phone_price_kz,Phone_category,Operating_System,Phone_name,Phone_color,Phone_memory,Battery_life_in_mAh,Y_Shopping_sales,Y_Caala_sales
0,APPLE,350000,SMARTPHONE,IOS,IPhone 7 Plus,Silver,32GB,2900,20,10
1,APPLE,350000,SMARTPHONE,IOS,IPhone 7 Plus,Gold,32GB,2900,24,11
2,APPLE,140000,SMARTPHONE,IOS,IPhone 7,Rose Gold,128GB,1960,30,8
3,APPLE,350000,SMARTPHONE,IOS,IPhone 7 Plus,Black,128GB,2900,40,15
4,APPLE,220000,SMARTPHONE,IOS,IPhone 8,Silver,128GB,1821,18,13
...,...,...,...,...,...,...,...,...,...,...
80,XIAOMI,243898,SMARTPHONE,ANDROID 10,REDMI NOTE 9S 4G,Dark Grey,64GB,5000,9,4
81,XIAOMI,277740,SMARTPHONE,ANDROID 10,REDMI NOTE 9T 4G,Black,64GB,4160,5,3
82,XIAOMI,308737,SMARTPHONE,ANDROID,REDMI NOTE 9 PRO,Grey,128GB,4780,1,6
83,XIAOMI,388193,SMARTPHONE,ANDROID,MI 10 LITE 5G Dual SIM,Blue,64GB,4160,2,5
84,XIAOMI,861828,SMARTPHONE,ANDROID 10,MI 10 LITE 5G,Grey,256GB,4160,1,1

In [9]:
# we're interested in price, brand, memory and sales - start with price using our scalers - notice that this will take a long time!
processed = pd.DataFrame()

price_label = <...>
price_std = scaler(<...>, kind='standard')
price_mmx = scaler(<...>, kind='minmax')

print(price_std)
print(price_mmx)

# we can use either scaler, for the example answer, we used the standard scaler
processed['price'] = <...>

print(processed)

0    -0.183719
1    -0.183719
2    -0.376615
3    -0.183719
4    -0.303131
        ...
80   -0.281179
81   -0.250093
82   -0.221621
83   -0.148636
84    0.286424
Name: Phone_price_kz, Length: 85, dtype: float64
0     0.035445
1     0.035445
2     0.014020
3     0.035445
4     0.022182
        ...
80    0.024620
81    0.028073
82    0.031235
83    0.039342
84    0.087666
Name: Phone_price_kz, Length: 85, dtype: float64
       price
0  -0.183719
1  -0.183719
2  -0.376615
3  -0.183719
4  -0.303131
..       ...
80 -0.281179
81 -0.250093
82 -0.221621
83 -0.148636
84  0.286424

[85 rows x 1 columns]

In [10]:
# now lets work on the brands
brands = <...>('onehot').<...>(<...>)
print(brands)

# now that we have the brands lets merge that into processed by using pd.concat
processed = pd.concat([<...>, <...>], axis=1)
print(processed)

       price  IPRO  SAMSUNG  NOKIA  BQ  XIAOMI  PLUM  Unitel  APPLE  ENERGIZER
0  -0.183719     0        0      0   0       0     0       0      1          0
1  -0.183719     0        0      0   0       0     0       0      1          0
2  -0.376615     0        0      0   0       0     0       0      1          0
3  -0.183719     0        0      0   0       0     0       0      1          0
4  -0.303131     0        0      0   0       0     0       0      1          0
..       ...   ...      ...    ...  ..     ...   ...     ...    ...        ...
80 -0.281179     0        0      0   0       1     0       0      0          0
81 -0.250093     0        0      0   0       1     0       0      0          0
82 -0.221621     0        0      0   0       1     0       0      0          0
83 -0.148636     0        0      0   0       1     0       0      0          0
84  0.286424     0        0      0   0       1     0       0      0          0

[85 rows x 10 columns]

In [28]:
# now we take a look at the memory (i.e. the storage) - and we have a choice of using an encoder or a scaler

# since phone memory is discreet (e.g. 32, 64, 128, etc.), and hierarchical, it makes sense to use a label encoder

# first convert the strings (e.g. 32gb) to ints (e.g. 32)
processed['memory'] = <...>.apply(lambda x: float(x.replace('G', '').replace('M', '').replace('B', '')))
print(processed['memory'])

# then use the encoder
processed['memory'] = <...>

# then the scaler for consistency - note that this is not a hard and fast rule, in general it is difficult/impossible
# to know exactly the best method for preprocessing your data beforehand and requires an element of trial and error
processed['memory'] = <...>
processed

0      32.0
1      32.0
2     128.0
3     128.0
4     128.0
      ...
80     64.0
81     64.0
82    128.0
83     64.0
84    256.0
Name: memory, Length: 85, dtype: float64

,price,IPRO,SAMSUNG,NOKIA,BQ,XIAOMI,PLUM,Unitel,APPLE,ENERGIZER,memory,sales
0,-0.183719,0,0,0,0,0,0,0,1,0,1.000000,0.013672
1,-0.183719,0,0,0,0,0,0,0,1,0,1.000000,0.016113
2,-0.376615,0,0,0,0,0,0,0,1,0,0.222222,0.017578
3,-0.183719,0,0,0,0,0,0,0,1,0,0.222222,0.025879
4,-0.303131,0,0,0,0,0,0,0,1,0,0.222222,0.014160
...,...,...,...,...,...,...,...,...,...,...,...,...
80,-0.281179,0,0,0,0,1,0,0,0,0,0.444444,0.005371
81,-0.250093,0,0,0,0,1,0,0,0,0,0.444444,0.002930
82,-0.221621,0,0,0,0,1,0,0,0,0,0.222222,0.002441
83,-0.148636,0,0,0,0,1,0,0,0,0,0.444444,0.002441
84,0.286424,0,0,0,0,1,0,0,0,0,0.555556,0.000000

In [19]:
# finally let's take a look at the sales - we will combine the shop sales and caala sales to get the total, and then use
# the minmax scaler to scale these values

processed['sales'] = <...> + <...>
processed['sales'] = scaler(<...>)

In [20]:
# now we have our processed dataset
processed

,price,IPRO,SAMSUNG,NOKIA,BQ,XIAOMI,PLUM,Unitel,APPLE,ENERGIZER,memory,sales
0,-0.183719,0,0,0,0,0,0,0,1,0,1.000000,0.013672
1,-0.183719,0,0,0,0,0,0,0,1,0,1.000000,0.016113
2,-0.376615,0,0,0,0,0,0,0,1,0,0.222222,0.017578
3,-0.183719,0,0,0,0,0,0,0,1,0,0.222222,0.025879
4,-0.303131,0,0,0,0,0,0,0,1,0,0.222222,0.014160
...,...,...,...,...,...,...,...,...,...,...,...,...
80,-0.281179,0,0,0,0,1,0,0,0,0,0.444444,0.005371
81,-0.250093,0,0,0,0,1,0,0,0,0,0.444444,0.002930
82,-0.221621,0,0,0,0,1,0,0,0,0,0.222222,0.002441
83,-0.148636,0,0,0,0,1,0,0,0,0,0.444444,0.002441
84,0.286424,0,0,0,0,1,0,0,0,0,0.555556,0.000000

## Using an external package for preprocessing

In the next lecture, we will introduce the python package `scikit-learn`, which contains data preprocessing tools. We encourage you to use this in real world implementations since they offer increased performance for data processing. Despite this, you can still choose to use your own encoders/scalers/etc, and moreover it is important to understand exactly what is being done to your data, to understand any artefacts that might be introduced, or details that may be lost during this preprocessing